{% extends 'utilities/obj_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}

{% block content %}
    <form action="{% querystring request %}" method="post" class="form form-horizontal">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Assign Device  {{ device_name }} Interfaces to Instance {{ instance_name }} </h3>
                {% if form.non_field_errors %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Errors</strong></div>
                        <div class="panel-body">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Select Device Intefaces</strong></div>
                <div class="panel-body">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% render_field form.device_interfaces %}
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-right">
                <button type="submit" class="btn btn-primary">Assign</button>
                <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
