{% extends '_base.html' %}
{% load static %}
{% load helpers %}

{% block title %}{{ instance }}{% endblock %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'dcim:instance_list' %}">Instances</a></li>
            {% if instance.tenant %}
                <li><a href="{% url 'tenancy:tenant' slug=instance.tenant.slug %}">{{ instance.tenant }}</a></li>
            {% endif %}
            <li>{{ instance }}</li>
        </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'dcim:instance_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search instances" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right noprint">
        {% if perms.dcim.change_device %}
            <a href="{% url 'dcim:instance_edit' pk=instance.pk %}" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit this instance
            </a>
        {% endif %}
        {% if perms.dcim.delete_device %}
            <a href="{% url 'dcim:instance_delete' pk=instance.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete this instance
            </a>
        {% endif %}
    </div>
    <h1>{{ instance }}</h1>
    {% include 'inc/created_updated.html' with obj=instance %}
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{% url 'dcim:instance' pk=instance.pk %}">Instance</a>
        </li>
        <li role="presentation"{% if active_tab == 'config-context' %} class="active"{% endif %}>
            <a href="{% url 'dcim:instance_configcontext' pk=instance.pk %}">Config Context</a>
        </li>
        <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
            <a href="{% url 'dcim:instance_changelog' pk=instance.pk %}">Changelog</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Instance</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Tenant</td>
                        <td>
                            {% if instance.tenant %}
                                <a href="{% url 'tenancy:tenant' slug=instance.tenant.slug %}" >{{ instance.tenant }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Hosting Device</td>
                        <td>
                            {% if instance.device %}
                                <a href="{% url 'dcim:device' pk=instance.device.pk %}">{{ instance.device }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Parent Instance</td>
                        <td>
                            {% if instance.parent_instance %}
                                <a href="{% url 'dcim:instance' pk=instance.parent_instance.pk %}">{{ instance.parent_instance }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% if instance.cluster %}
                        <tr>
                            <td>Cluster</td>
                            <td>
                                {% if instance.cluster.group %}
                                    <a href="{{ instance.cluster.group.get_absolute_url }}">{{ instance.cluster.group }}</a>
                                    <i class="fa fa-angle-right"></i>
                                {% endif %}
                                <a href="{{ instance.cluster.get_absolute_url }}">{{ instance.cluster }}</a>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Child Instances Count</td>
                        <td><span><a href="{% url 'dcim:instance_list' %}?parent_instance_id={{ instance.pk}}">{{ instance.get_child_instance_count}}</a></span></td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Manager</strong>
                </div>
                {% if instance.manager %}
                    <table class="table table-hover panel-body attr-table">
                        <tr>
                            <td>Account Name</td>
                            <td>
                                 {{ instance.manager.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>Full Name</td>
                            <td>
                                {{ instance.manager.first_name }} {{ instance.manager.last_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                 {{ instance.manager.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>
                                <span class="text-muted">Not Supported</span>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <div class="panel-body text-muted">
                        None
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Management</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Role</td>
                        <td>
                            <a href="{% url 'dcim:instance_list' %}?role={{ instance.instance_role.slug }}">{{ instance.instance_role }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Platform</td>
                        <td>
                            {{ instance.platform.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>
                            <span class="label label-{{ instance.get_status_class }}">{{ instance.get_status_display }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Level Important</td>
                        <td>
                            <span class="label label-{{ instance.get_level_important_class }}">{{ instance.get_level_important_display }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Primary IPv4</td>
                        <td>
                            {% if instance.primary_ip4 %}
                                <a href="{% url 'ipam:ipaddress' pk=instance.primary_ip4.pk %}">{{ instance.primary_ip4.address.ip }}</a>
                                {% if instance.primary_ip4.nat_inside %}
                                    <span>(NAT for {{ instance.primary_ip4.nat_inside.address.ip }})</span>
                                {% elif instance.primary_ip4.nat_outside %}
                                    <span>(NAT: {{ instance.primary_ip4.nat_outside.address.ip }})</span>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Primary IPv6</td>
                        <td>
                            {% if instance.primary_ip6 %}
                                <a href="{% url 'ipam:ipaddress' pk=instance.primary_ip6.pk %}">{{ instance.primary_ip6.address.ip }}</a>
                                {% if instance.primary_ip6.nat_inside %}
                                    <span>(NAT for {{ instance.primary_ip6.nat_inside.address.ip }})</span>
                                {% elif instance.primary_ip6.nat_outside %}
                                    <span>(NAT: {{ instance.primary_ip6.nat_outside.address.ip }})</span>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default noprint">
                <div class="panel-heading">
                    <strong>Related Instances</strong>
                </div>
                {% if related_instances %}
                    <table class="table table-hover panel-body">
                        {% for ri in related_instances %}
                            <tr>
                                <td>
                                    <a href="{% url 'dcim:instance' pk=ri.pk %}">{{ ri }}</a>
                                </td>
                                <td>
                                    {% if ri.device %}
                                        Hosting Device <a href="{% url 'dcim:device' pk=ri.device.pk %}"> {{ ri.device }}</a>
                                    {% elif ri.parent_instance %}
                                        Parent Instance <a href="{% url 'dcim:instance' pk=ri.parent_instance.pk %}"> {{ ri.parent_instance }}</a>
                                    {% else %}
                                        <span class="text-muted">&mdash;</span>
                                    {% endif %}

                                </td>
                                <td>{{ ri.manager.username }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="panel-body text-muted">None found</div>
                {% endif %}
            </div>
            {% include 'extras/inc/tags_panel.html' with tags=instance.tags.all url='dcim:instance_list' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Comments</strong>
                </div>
                <div class="panel-body rendered-markdown">
                    {% if instance.comments %}
                        {{ instance.comments|gfm }}
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
                {% if perms.dcim.change_interface or perms.dcim.delete_interface %}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="instance" value="{{ instance.pk }}" />
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Interfaces</strong>
                        <div class="pull-right noprint">
                            <button class="btn btn-default btn-xs toggle-ips" selected="selected">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Show IPs
                            </button>
                        </div>
                    </div>
                    <table id="interfaces_table" class="table table-hover table-headings panel-body component-list">
                        <thead>
                            <tr>
                                {% if perms.dcim.change_interface or perms.dcim.delete_interface %}
                                    <th class="pk"><input type="checkbox" class="toggle" title="Toggle all" /></th>
                                {% endif %}
                                <th>Name</th>
                                <th>LAG</th>
                                <th>Description</th>
                                <th>MTU</th>
                                <th>Mode</th>
                                <th>Cable</th>
                                <th colspan="2">Connection</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for iface in interfaces %}
                                {% include 'dcim/inc/interface.html' with interface_view="instance_detail" device=instance  %}
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center text-muted">&mdash; No interfaces defined &mdash;</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="panel-footer noprint">
                        {% if interfaces and perms.dcim.change_interface %}
                            <button type="submit" name="_rename" formaction="{% url 'dcim:interface_bulk_rename' %}?return_url={{ instance.get_absolute_url }}" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rename
                            </button>
                            <button type="submit" name="_edit" formaction="{% url 'dcim:instance_interface_bulk_edit' pk=instance.pk %}?return_url={{ instance.get_absolute_url }}" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                            </button>
                        {% endif %}
                        {% if interfaces and perms.dcim.delete_interface %}
                            <button type="submit" name="_delete" formaction="{% url 'dcim:instance_interface_bulk_delete' pk=instance.pk %}?return_url={{ instance.get_absolute_url }}" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                            </button>
                        {% endif %}
                        {% if perms.dcim.add_interface %}
                            <div class="pull-right">
{#TODO @conghm1 Re-check if a interface can belong both instance and device or not ? #}
{#                                {% if instance.device %}#}
{#                                    <a href="{% url 'dcim:instance_assign_device_interface' pk=instance.pk %}" class="btn btn-warning btn-xs">#}
{#                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Assign Hosting Device interfaces#}
{#                                    </a>#}
{#                                {% endif %}#}
                                <a href="{% url 'dcim:instance_interface_add' pk=instance.pk %}" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add interfaces
                                </a>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% if perms.dcim.delete_interface %}
                    </form>
                {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
// Toggle the display of IP addresses under interfaces
$('button.toggle-ips').click(function() {
    var selected = $(this).attr('selected');
    if (selected) {
        $('#interfaces_table tr.ipaddresses').hide();
    } else {
        $('#interfaces_table tr.ipaddresses').show();
    }
    $(this).attr('selected', !selected);
    $(this).children('span').toggleClass('glyphicon-check glyphicon-unchecked');
    return false;
});
</script>
<script src="{% static 'js/secrets.js' %}?v{{ settings.VERSION }}"></script>
{% endblock %}

