{% extends '_base.html' %}
{% load form_helpers %}

{% block title %}Create {{ component_type }} ({{ parent }}){% endblock %}

{% block content %}
<form action="." method="post" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if form.non_field_errors %}
                <div class="panel panel-danger">
                    <div class="panel-heading"><strong>Errors</strong></div>
                    <div class="panel-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ component_type|title }}</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label required">Instance</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{ parent }}</p>
                        </div>
                    </div>
                    {% render_form form %}
                </div>
            </div>
		    <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" name="_create" class="btn btn-primary">Create</button>
                    <button type="submit" name="_addanother" class="btn btn-primary">Create and Add More</button>
                    <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                </div>
		    </div>
        </div>
    </div>
</form>
{% endblock %}
