{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% if perms.dcim.add_devicerole %}
        {% add_button 'dcim:instancerole_add' %}
        {% import_button 'dcim:instancerole_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Instance Roles{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='dcim:instancerole_bulk_delete' %}
    </div>
</div>
{% endblock %}
