{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Service</strong></div>
        <div class="panel-body">
            {% render_field form.code %}
            {% render_field form.name %}
            {% render_field form.slug %}
            {% render_field form.service_group %}
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong> Management </strong></div>
        <div class="panel-body">
            {% render_field form.enduser %}
            {% render_field form.status %}
            {% render_field form.level_important %}
            {% render_field form.start_date %}
            {% render_field form.stop_date %}
            {% render_field form.monitored_off_time %}
            {% render_field form.dev_unit %}
            {% render_field form.kpi %}
            
            

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tenancy</strong></div>
        <div class="panel-body">
            {% render_field form.tenant_group %}
            {% render_field form.tenant %}
        </div>
    </div>
    
{% endblock %}
