{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% if perms.service.add_serviceuser %}
        {% add_button 'service:serviceuser_add' %}
        {% import_button 'service:serviceuser_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Service User{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='service:serviceuser_bulk_delete' %}
    </div>
</div>
{% endblock %}
