{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% if perms.dcim.add_device %}
            {% add_button 'service:service_add' %}
        {% import_button 'service:service_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Services{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'service/inc/service_table.html' with bulk_edit_url='service:service_bulk_edit' bulk_delete_url='service:service_bulk_delete' %}
    </div>
    <div class="col-md-3 noprint">
		{% include 'inc/search_panel.html' %}
		{% include 'inc/tags_panel.html' %}
    </div>
</div>
{% endblock %}
