{% extends '_base.html' %}
{% load static %}
{% load helpers %}

{% block title %}{{ service }}{% endblock %}

{% block header %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<!-- link -->
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'service:service_list' %}">Service</a></li>
            {% if service.tenant %}
                <li><a href="{% url 'tenancy:tenant' slug=service.tenant.slug %}">{{ service.tenant }}</a></li>
            {% endif %}
            <li>{{ service }}</li>
        </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'service:service_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search service" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

<!-- edit, delete button -->
    <div class="pull-right noprint">
        {% if perms.service.change_device %}
            <a href="{% url 'service:service_edit' pk=service.pk %}" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Edit this service
            </a>
        {% endif %}
        {% if perms.service.delete_device %}
            <a href="{% url 'service:service_delete' pk=service.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete this service
            </a>
        {% endif %}
    </div>

<!-- header... -->
    <h1>{{ service }}</h1>
    {% include 'inc/created_updated.html' with obj=service %}
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{% url 'service:service' pk=service.pk %}">Service</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">

        <!-- service -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Service</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Tenant</td>
                        <td>
                            {% if service.tenant %}
                                <a href="{% url 'tenancy:tenant' slug=service.tenant.slug %}" >{{ service.tenant }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Service group</td>
                            <td>
                                <a href="{% url 'service:servicegroup_list' %}?group={{ service.service_group.slug }}">{{ service.service_group }}</a>
                            </td>                            
                    </tr>  
                    
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Manager</strong>
                </div>
                {% if service.manager %}
                    <table class="table table-hover panel-body attr-table">
                        <tr>
                            <td>Account Name</td>
                            <td>
                                 {{ service.manager.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>Full Name</td>
                            <td>
                                {{ service.manager.first_name }} {{ service.manager.last_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                 {{ service.manager.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>
                                <span class="text-muted">Not Supported</span>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <div class="panel-body text-muted">
                        None
                    </div>
                {% endif %}
            </div>
        </div>

        
        <div class="col-md-6">
            <!-- management -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Management</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    
                    <tr>
                        <td>Status</td>
                        <td>
                            <span class="label label-{{ service.get_status_class }}">{{ service.get_status_display }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Level Important</td>
                        <td>
                            <span class="label label-{{ service.get_level_important_class }}">{{ service.get_level_important_display }}</span>
                        </td>
                    </tr>
                                    
                    <tr>
                            <td><i class="far fa-calendar-alt"></i> Start date</td>
                            <td>{{ service.start_date }}</td>
                    </tr>
                    <tr>
                            <td><i class="far fa-calendar-alt"></i> Start date</td>
                            <td>{{ service.start_date }}</td>
                    </tr>

                    
                        
                </table>
            </div>
            
            {% include 'extras/inc/tags_panel.html' with tags=service.tags.all url='service:service_list' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Comments</strong>
                </div>
                <div class="panel-body rendered-markdown">
                    {% if service.comments %}
                        {{ service.comments|gfm }}
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}